* {
    margin: 0;
}

body {
    background-color: #020302;
    font-family: "Inter", sans-serif;
    margin: 12px 0;
}

h3 {
    float: left;
    margin-bottom: 12px;
    margin-top: 0px;
    vertical-align: center;
}

/* detail size font not working */
h4 {
    font-family: "Inter", sans-serif;
    color: #919191;
    font-size: 0.7rem;
    font-weight: 400;
    text-align: left;
    display: block;
    margin-left: 12px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.video {
    width: 100%;
    height: 217px;
    margin-bottom: 12px 0;
}

.video-gif {
    width: 100%;
    height: 217px;
}

.profile-picture {
    float: left;
    display: block;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    margin-left: 12px;
}


.video-name {
    font-size: 20px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: #f1f1f1;
    margin-top: 12px;
    margin-left: 12px;
}

.viewer-count {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;

}

.user-name-container {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 12px;
}

.user-name-text {
    float: none;
    /* override global h3 float */
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    color: #f1f1f1;
    margin: 0;

}

#subscribe__button {
    float: right;
    background-color: #f1f1f1;
    border-radius: 21px;
    color: black;
    width: 85px;
    height: 37px;
    vertical-align: center;
    margin-left: 12px;
    margin-top: 0;
}

.buttons-container {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 0px;
    vertical-align: center;


}

.sub-container {
    display: flex;
    width: 100%;
    max-width: 393px;
    /* margin-left: 12px;
    margin-right: 12px; */
    align-items: center;
    /* placeholder for font color */
    color: #f1f1f1;

}

#live-chat {
    color: #f1f1f1;
    margin-left: 12px;
}

.chat-input {
    margin: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-feed {
    flex-direction: column;
    align-items: left;

}

/* for name entry */
input {
    display: inline;
    padding: 5px;
    margin: 10px 10px 0 0;
    height: 20px;
    border-radius: 21px;
    background-color: #1A1A1A;
    color: #ababab;
    font-size: 8;
    /* THESE ARE FOR NATIVE BORDERS AND STUFF */
    border: none;
    outline: none;


}

.chat-input-name {
    width: 25%;
}

.chat-input-msg {
    width: 60%;
    color: #ababab;
}

button {
    height: 32px;
    width: 64px;
    margin-right: 12px;
    margin-top: 10px;
    background-color: #313131;
    color: #ffffff;
    /* THIS REMOVES STYLING FROM NATIVE BUTTONS */
    border: none;
    border-radius: 10px;




}

.chat-box {
    border-radius: 14px;
    width: calc(100vw - 24px);
    box-sizing: border-box;
    /* margin-right: 12px; */
    height: 329px;
    overflow: auto;
    background-color: #1A1A1A;
    padding-right: 12px;
    padding-top: 12px;
}


/* chat text styling */
p {
    overflow-wrap: break-word;
    font-size: .8rem;
    margin-left: 12px;
    padding: 2px;
    color: whitesmoke;
}

@media (max-width: 800px) {
    .sub-container {
        width: 100%;
    }
}
